*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-primary: #100E0A;
  --bg-main: #FBFBF9;
  --bg-primary: #AE9565;
  --bg-secondary: #D5C8AA;
  --bg-accent: #C6B080;
  --text-accent: #7C6B46;
}
html, body{
  font-size: 100%;
  scroll-behavior: smooth;
}
body{
  background: var(--bg-main);
  color: var(--text-primary);
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.hero{
  margin: 0 0 10px 0;
  padding: 10px;
  background: var(--bg-secondary);
  text-align: center;
  height: 50vh;
}
.hero h1{
  font-size: 1.3rem;
}
.hero h2{
  color: var(--text-accent);
}
.hero .popular{
  text-align: center;
  margin: 10px 0;
}
.searchDiv{
  height: min-content;
  padding: 100px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.searchDiv #search-text-output{
  width: 100%;
}
.searchDiv button,input{
  border: none;
  outline: none;
  border: 2px solid var(--bg-accent);
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}
.searchDiv button{
  background: var(--bg-secondary);
}


.heading{
background: var(--bg-secondary);
color: var(--text-primary);
padding: 20px 10px;
width: 50%;
border-radius: 0 10px 10px 0;
}



.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  column-gap: 2rem;
}
.wrapper .image{
 width: 45vw;
 max-width: 300px;
 height: max-content;
 max-height: 600px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 background: var(--bg-accent);
 padding: 10px 20px;
 flex: 1 1 auto;
 margin: 10px 0;
 
}
@media only screen and (min-width: 900px){
  
.wrapper .image{
  width: 300px;
}
}
 .book img{
  width: 30vw;
  object-fit: cover;
  box-shadow: 0 0 5px #000000E3;
  border-radius: 10px 0 0 0;
}
 .text h3{
  text-align: center;
  font-size: .8rem;
}
.text p{
  font-size: .6rem
}
/* Footer */
footer{
  padding: 20px 20px 5px 20px;
  background: var(--bg-secondary);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   text-align: center;
   font-family: "Cairo" , sans-serif;
}
footer h6{
  text-align: center;
  font-size: 2rem;
}
footer p{
  padding: 50px 20px;
}
footer .foot-text{
  position: relative;
}
footer a{
  color: var(--text-primary);
}