/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:root{
  --text-primary: #100E0A;
  --bg-main: #FBFBF9;
  --bg-primary: #AE9565;
  --bg-secondary: #D5C8AA;
  --bg-accent: #C6B080;
  --text-accent: #7C6B46;
}
html, body{
  font-size: 100%;
  scroll-behavior: smooth;
}
body{
  background: var(--bg-main);
  color: var(--text-primary);
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.hero{
  margin: 0 0 10px 0;
  padding: 10px;
  background: var(--bg-secondary);
  text-align: center;
  height: 80vh;
}
.hero h1{
  font-size: 1.3rem;
}
.hero h2{
  color: var(--text-accent);
}
.hero .popular{
  text-align: center;
  margin: 10px 0;
}
.searchDiv{
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 100px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.searchDiv #search-text-output{
  width: 100%;
}
.searchDiv button,input{
  border: none;
  outline: none;
  border: 2px solid var(--bg-accent);
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}
.searchDiv button{
  background: var(--bg-secondary);
}


.heading{
background: var(--bg-secondary);
color: var(--text-primary);
padding: 20px 10px;
width: 50%;
border-radius: 0 10px 10px 0;
}



.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2rem;
}
.wrapper .image{
 width: 45vw;
 height: -webkit-max-content;
 height: -moz-max-content;
 height: max-content;
 max-height: 600px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 background: var(--bg-accent);
 padding: 10px 20px;
 -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
         flex: 1 1 auto;
 margin: 10px 0;
 
}
 .book img{
  width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 5px #000000E3;
          box-shadow: 0 0 5px #000000E3;
  border-radius: 10px 0 0 0;
}
 .text h3{
  text-align: center;
  font-size: .8rem;
}
.text p{
  font-size: .6rem
}
/* Footer */
footer{
  padding: 20px 20px 5px 20px;
  background: var(--bg-secondary);
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
   text-align: center;
   font-family: "Cairo" , sans-serif;
}
footer h6{
  text-align: center;
  font-size: 2rem;
}
footer p{
  padding: 50px 20px;
}
footer .foot-text{
  position: relative;
}
footer a{
  color: var(--text-primary);
}
/*
* Prefixed by httpsBrowsers:
*/

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: -ms-grid;
    display: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
}
.back-button{
  padding: 10px;
  background: #FFC773;
  width: 70px;
  height: 50px;
}
.left-side {
    background-size: cover;
    background-position: center;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  object-position: bottom
}
.left-side img{
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.right-side {
    margin: 20px 32px 32px 32px;
}

#perfume {
    font-size: 12px;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

#header {
    font-family: 'Fraunces', serif;
    line-height: 1;
    color: hsl(212, 21%, 14%);
    margin-bottom: 25px;
}

#description {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    margin-bottom: 5px;
}


#number-discount, #number-full {
    display: inline-block;
    vertical-align: middle;
}

#number-discount {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    margin-right: 10px;
}

#number-full {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.cart-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    margin-top: 6px
}

.cart-btn:hover {
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
}

.cart-btn > svg {
    margin-left: -8px;
}

@media only screen and (max-width: 767px) {
    .container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      width: 345px;
      height: 630px;
    }

    .left-side {
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    #perfume {
        margin-top: 1px;
        margin-bottom: -1px;
    }

    #description {
        margin-top: -8px;
        margin-bottom: -1px;
    }

    .price {
        margin-bottom: -8px;
    }

    .cart-btn {
        height: 48px;
    }
  }
